.conteiner {
   width: 1110px;
   @media screen and (max-width:1024px){
      width: 800px;
   }
   @media screen and (max-width:768px){
      width: 600px;
   }
   @media screen and (max-width:425px){
      width: 350px;
   }
}

